/*
================
Main Styles
================
*/
.hidden{
	visibility: hidden;

}
.visable{
	visibility: visible;
}
h3.inlineText{
	display: inline-block;
}

/* ToolTip background color, size, and placement*/
.color-tooltip + .tooltip > .tooltip-inner {
	background-color: #3D1255;
	width: 250px;
}
.color-tooltip + .tooltip.right > .tooltip-arrow { 
	border-right: 5px solid #3D1255; 

}

#twitterBox{
	margin-top: 20px;
	border: 2px solid #3D1255;
	height:150px;
	overflow: hidden;
	position: relative;

}
#twitterContentBoxA, #twitterContentBoxB{
	position: absolute;
	/*top:150px;*/
}

.twitterHandleLinkGreen{
	color:#A2AA75;
	font-weight: bold;
}
.twitterHandleLinkBrown{
	color:#AA9775;
	font-weight: bold;
}
.twitterHandleLinkPink{
	color:#AA7D75;
	font-weight: bold;
}
.twitterLinkBold{
	font-weight: bold;

}